<div class="center hero-unit">
  <h1>Welcome to Aquaria!</h1>

  <h2>
     Aquaria is an aquarium management tool used to track maintenance, changes in water chemistry and inhabitants. Click the Sign Up button below to get started.
  </h2>
  <%= link_to "Signup!", "/signup", class: "btn btn-primary btn-lg" %>

</div>